.heroheadingFont {
  font-family: var(--ffPrimary);
  font-weight: 900;
  font-size: 7rem;
  color: #000000;
}

.headingFont {
  font-family: var(--ffPrimary);
  font-weight: 800;
  font-size: 4rem;
  color: #000000;
}

.subtitle {
  font-family: var(--ffSecondary);
  font-size: 2rem;
  color: #000000;
}

.paraFont {
  font-family: var(--ffSecondary);
  font-size: 1.5rem;
  color: #000000;
}

.regularFont {
  font-family: var(--ffPrimary);
  font-weight: 800;
  font-size: 1.6rem;
  color: #000000;
}

.span {
  color: #be9c79;
}

.navBarSection .navbar {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navBarSection {
  background-color: #f8f9fa;
}

.logo-img {
  height: 60px;
  width: auto;
  margin-left: 1rem;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin: 0rem 0.5rem;
}

.navbar-nav .nav-link:hover {
  color: #00aaff;
}

.navbar.sticky-top {
  z-index: 1030;
}



.heroContainer {
  background-image: url(./assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.row {
  padding: 2rem 0rem;
}

.col {
  position: relative;
}

.card {
  position: absolute;
  top: 20rem;
  left: 4rem;
}

.card-body a {
  background-color: #be9c79;
  font-family: var(--ffSecondary);
  font-size: 2rem;
}

.card-body a:hover {
  background-color: #000000;
}

.aboutUsImg {
  height: 55rem;
  width: auto;
}

.card-body a {
  background-color: #be9c79;
  font-family: var(--ffSecondary);
  font-size: 2rem;
}

.card-body a:hover {
  background-color: #000000;
}

.card-heading-img {
  width: 25rem;
  height: 5rem;
}

.card-title-heading {
}

.card-img-top {
  width: 10rem;
}

.popularImg {
  height: 28rem;
}

.teamImg {
  height: 30rem;
}

.formImg img {
  height: 60rem;
}

.formBox {
  border: 1px solid black;
  padding: 2rem 2rem;
  height: fit-content;
}

.formHeading h3 {
  font-family: var(--ffSecondary);
  font-size: 3.5rem;
}

.form-group input {
  font-size: 2.5rem;
  padding: 1rem 15rem 1rem 1.5rem;
  border: 1px solid black;
}

.tableBox {
  border: 1px solid #000000;
}
.a {
  text-decoration: none;
}

.btn {
  font-size: 2rem;
  background-color: #be9c79;
  padding: 1rem 3rem;
  color: #ffffff;
  width: fit-content;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.icon {
  background-color: #be9c79;
  height: 7rem;
  width: 7rem;
}

.icon i {
  font-size: 4rem;
  color: #ffffff;
  padding: 2rem 2rem;
}

.copyLine hr {
  width: 70%;
  height: 1.5px;
}