.heroheadingFont {
    font-family: var(--ffPrimary);
    font-weight: 900;
    font-size: 7rem;
    color: #000000;
}

.headingFont {
    font-family: var(--ffPrimary);
    font-weight: 800;
    font-size: 4rem;
    color: #000000;
}

.subtitle {
    font-family: var(--ffSecondary);
    font-size: 2rem;
    color: #000000;
}

.paraFont {
    font-family: var(--ffSecondary);
    font-size: 1.5rem;
    color: #000000;
}

.regularFont {
    font-family: var(--ffPrimary);
    font-weight: 800;
    font-size: 1.6rem;
    color: #000000;
}

.span {
    color: #BE9C79;
}


.navBarSection {
    /* background-color: #00ffff; */
}

.navbarr {
    padding-right: 24rem;
}

.navbarr img {
    height: 5rem;
    width: auto;
}

.navbar-nav {
    padding-right: 18rem;
}

.navbar-nav a {
    /* background-color: #00ffff; */
    font-size: 2rem;
    padding: 0rem 0rem;
}


.heroSection {
    /* background-color: aqua; */
}

.heroContainer {
    /* background-color: aqua; */
    background-image: url(./assets/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 100%; */
    height: 100vh;
}

.row {
    /* background-color: aqua; */
    padding: 2rem 0rem;
}

.col {
    /* background-color: aqua; */
    position: relative;
}

.card {
    /* background-color: aqua; */
    position: absolute;
    top: 20rem;
    left: 4rem;
}

.card-body a {
    background-color: #BE9C79;
    font-family: var(--ffSecondary);
    font-size: 2rem;
}

.card-body a:hover {
    background-color: #000000;
}




.abouutUsSection {
    /* background-color: #7fffd4; */
}

.aboutUsImg {
    /* background-color: #7fffd4; */
    height: 55rem;
    width: auto;
}

.card-body a {
    background-color: #BE9C79;
    font-family: var(--ffSecondary);
    font-size: 2rem;
}

.card-body a:hover {
    background-color: #000000;
}



.facility {
    /* background-color: aqua; */
}

.card-heading-img {
    width: 25rem;
    height: 5rem;
}

.card-title-heading {
    /* background-color: #BE9C79; */
}

.card-img-top {
    /* background-color: aqua; */
    width: 10rem;
}

.popular {
    /* background-color: aliceblue; */
}

.popularImg {
    height: 28rem;
}

.teamImg {
    height: 30rem;
}

.contactUs {
    /* background-color: #00ffff; */
}

.formImg img {
    /* background-color: aquamarine; */
    height: 60rem;
}

.formBox {
    border: 1px solid black;
    padding: 2rem 2rem;
    height: fit-content;
}

.formHeading h3 {
    /* background-color: aqua; */
    font-family: var(--ffSecondary);
    font-size: 3.5rem;
}

.form-group input {
    /* background-color: aquamarine; */
    font-size: 2.5rem;
    padding: 1rem 15rem 1rem 1.5rem;
    border: 1px solid black;
}

.tableBox{
    border: 1px solid #000000;
}
.a{
    text-decoration: none;
}

.btn {
    font-size: 2rem;
    background-color: #BE9C79;
    padding: 1rem 3rem;
    color: #ffffff;
    width: fit-content;
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
}




.icon {
    background-color: #BE9C79;
    height: 7rem;
    width: 7rem;
}

.icon i {
    /* background-color: #00ffff; */
    font-size: 4rem;
    color: #ffffff;
    padding: 2rem 2rem;
}

.copyLine hr {
    width: 70%;
    height: 1.5px;
}